body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    color: #333;
}
header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav {
    background-color: #939393;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}
nav a {
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    margin-right: 20px;
}
.container-basic {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #0056b3;
}

.header-title {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}

.name-user {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

.admin-header {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    justify-content: space-between;
    align-items: center;

}
