body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.welcome-message {
    background-color: transparent;
    margin-bottom: 20px;
    margin-left: 200px;
}

.title-h2 {
    color: #333;
    font-weight: 500;
    margin-bottom: .5rem;
}

.dashboard {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
}

.section-title h3 {
    color: #333;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.date-range {
    margin-bottom: 20px;
    color: #666;
}

.dashboard-cards {
    display: flex;
    gap: 20px;
}

.card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
}

.card h4 {
    color: #007bff;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

table tr:last-child td {
    border-bottom: none;
}

table tr td i {
    margin-right: 10px;
    color: #007bff;
}

.button-iniciar {
    width: 14%;
    padding: 10px 0 10px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    text-decoration: none;
    display: inline-block; /* Garante que o <a> se comporte como um botão */
    cursor: pointer; /* Adiciona cursor pointer para ambos */
    font-family: Arial, sans-serif; /* Define a família da fonte */
    font-size: 16px; /* Define o tamanho da fonte */
    font-weight: 400; /* Define o peso da fonte */
    line-height: 1.5; /* Define a altura da linha */
    margin-left: 200px;
    margin-top: 15px;
}

.button-iniciar:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
