body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    box-sizing: border-box;
}

.main-content {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 220px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.container-sucesso {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 650px;
}

.container-sucesso h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #28a745;
}

.container-sucesso p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #555;
}

.botoes-navegacao {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.button-voltar {
    background-color: #6c757d;
    color: #fff;
    padding: 12px 25px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.button-voltar:hover {
    background-color: #5a6268;
    transform: scale(1.05);
}

.btn-imprimir {
    background-color: #28a745;
    color: #fff;
    padding: 12px 25px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-imprimir:hover {
    background-color: #218838;
    transform: scale(1.05);
}
