body {
    margin: 0;
    padding: 0;
}

/* Sidebar */
.sidebar {
    width: 220px;
    height: 100%;
    position: fixed;
    background-color: #2c3e50;
    color: #fff;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.logo {
    margin-top: 20px;
    margin-left: 60px;
}

.menu {
    margin-bottom: 10px;
}

.menu li,
.submenu ul li {
    margin-bottom: 5px; /* Adiciona uma margem inferior para separar os itens */
}

.menu li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px 25px;
    transition: background-color 0.2s;
}

.menu li a:hover {
    background-color: #34495e;
}

.submenu ul {
    display: none;
}

.submenu:hover ul {
    display: block;
    align-items: center;
}

.submenu ul li a {
    padding: 10px 10px;
    color: #fff;
    display: block;
    transition: background-color 0.2s;
    white-space: nowrap; /* Impede a quebra de linha */
    font-size: 14px; /* Tamanho da fonte */
}

.submenu ul li a:hover {
    background-color: #34495e;
}

/* Header */
.admin-header {
    background-image: url('/images/banner.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 140px;
    text-align: center;
}

.wrapper {
    display: flex;
}

.content {
    flex-grow: 1;
}

.container-basic {
    margin-left: 70px;
    justify-content: center;
}

.logo-menu {
    align-items: center;
    display: flex;
}


