.container-servico {
    width: 1000px;
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 345px; /* Largura do .sidebar */
    top: 23%;
}

.button:hover {
    background-color: #0056b3;
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 30px;
}

.label-servico {
    display: flex;
    font-weight: bold;
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select:invalid {
    border-color: red; /* Altera a cor da borda para indicar um estado inválido */
}

::placeholder {
    color: #000000;
}

.form-servico {
    width: auto;
}

.input-carro {
    width: 98%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-number-servico {
    width: 98%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input_placa {
    width: 98%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.textarea-servico {
    width: 100%;
    padding: 10px;
    margin: 7px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-servico {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-avancar {
    padding: 10px 23px;
    color: #fff;
    background-color: #1220ff;
    border-color: #1220ff;
    border-radius: 5px;
    cursor: pointer;
    float: right; /* Move o botão para o canto direito */
}

.button-avancar:hover {
    background-color: #0000cc;
}

.button-voltar {
    padding: 10px 20px;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    border-radius: 5px;
    cursor: pointer;
}

.button-voltar:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.botoes-navegacao {
    margin-top: 20px;
}


