.section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cliente-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cliente-info-column {
    flex: 1;
}

.info-cliente h2,
.info-carro h2,
.info-servico h2 {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.btn-imprimir {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;

}

.btn-imprimir:hover {
    background-color: #0056b3;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-voltar {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    border-radius: 5px;
    text-decoration: none; /* Remove o sublinhado */
}

.button-voltar:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.botoes-navegacao {
    margin-top: 20px;
}

.destacado {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.orcamento-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.destacado-label {
    font-weight: bold;
}

.destacado-right {
    text-align: right;
}

@media print {
    .container {
        display: none;
    }

    .botoes-navegacao {
        display: none;
    }
}

.image-logo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.container-buttons {
    display: flex;
    justify-content: center; /* Centraliza os botões horizontalmente */
    margin-bottom: 20px;
}

.button-container {
    margin-right: 10px; /* Adiciona espaço entre os botões */
}

.destacado {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.orcamento-info {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

.destacado-label {
    font-weight: bold;
}

.dados-cliente {
    text-align: center;
}

.dados-carro {
    text-align: center;
}

.produtos-servico {
    text-align: center;
}

.orcamento {
    text-align: center;
}

.carro-info {
    display: flex;
}

.carro-info-column {
    flex: 1;
}

.logo-content {
    margin-right: auto;
}

.text-content {
    margin-left: auto;
}

.section-logo {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
}

